.contentBox {
    display: grid;
    width: 100%;
    height: 89vh;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.leftContent {
    padding: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000b6, #09092465), url(../Images/content.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContent h1 {
    font-size: 4em;
    text-transform: capitalize;
    color: var(--white);
}


.rightContent {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    color: #09092465;
    font-size: 32px;
}

.content .para {
    line-height: 1.5;
    color: #333;
}

.content:hover .para {
    line-height: 1.5;
    color: #fff;
}
.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: var(--blue);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: var(--blue);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    height: 100%;
}

.card:hover {
    box-shadow: none;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .contentBox{
        grid-template-columns: 1fr;
        height: auto;
        padding: 30px 0;
    }

    .leftContent{
        height: 50vh;
    }

    .rightContent{
        grid-template-columns: 1fr;
    }
}